<div
  class="table-header"
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  "
>
  <h2>Tipos de despesas</h2>
  <button
    pButton
    type="button"
    label="Nova tipo de despesa"
    icon="pi pi-plus"
    (click)="router.navigate(['/tipos-gastos/formulario'])"
  ></button>
</div>

<app-generic-table
  [data]="expenseTypes"
  [columns]="columns"
  dataKey="id"
  [responsiveLayout]="'scroll'"
  [routePrefix]="'tipos-gastos'"
  (rowSelect)="onSelect($event)"
></app-generic-table>
