<p-table
  [value]="data"
  [dataKey]="dataKey"
  [responsiveLayout]="responsiveLayout"
  selectionMode="single"
  (onRowSelect)="onRowSelect($event.data)"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr [pSelectableRow]="row">
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.cellTemplate; else defaultCell">
          <ng-container
            [ngTemplateOutlet]="col.cellTemplate"
            [ngTemplateOutletContext]="{ $implicit: row }"
          ></ng-container>
        </ng-container>
        <ng-template #defaultCell>
          {{ transform(row[col.field], col.pipe) }}
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
