<form [formGroup]="expenseForm" (ngSubmit)="submitForm()" class="form-grid">
  <!-- Primeira linha -->
  <div class="form-field">
    <label for="amount">Valor do gasto</label>
    <p-inputNumber
      formControlName="amount"
      inputId="amount"
      mode="decimal"
      [min]="0"
      [step]="0.01"
      locale="pt-BR"
      [useGrouping]="true"
      [minFractionDigits]="2"
      [maxFractionDigits]="5"
    ></p-inputNumber>
    <div
      *ngIf="
        expenseForm.get('amount')?.invalid && expenseForm.get('amount')?.touched
      "
      class="error"
    >
      Valor do gasto é obrigatório
    </div>
  </div>

  <div class="form-field">
    <label for="description">Descrição</label>
    <input
      id="description"
      type="text"
      formControlName="description"
      placeholder="Descrição opcional"
      class="p-inputtext p-component"
    />
  </div>

  <!-- Segunda linha -->
  <div class="form-field">
    <label for="date">Data</label>
    <p-calendar
      formControlName="date"
      inputId="date"
      dateFormat="dd/mm/yy"
      [showIcon]="true"
    ></p-calendar>
    <div
      *ngIf="
        expenseForm.get('date')?.invalid && expenseForm.get('date')?.touched
      "
      class="error"
    >
      Data é obrigatória
    </div>
  </div>

  <div class="form-field">
    <label for="expenseTypeId">Tipo de despesa</label>
    <p-dropdown
      formControlName="expenseTypeId"
      inputId="expenseTypeId"
      [options]="expenseTypes"
      optionLabel="description"
      optionValue="id"
      placeholder="Selecione o tipo"
    ></p-dropdown>
    <div
      *ngIf="
        expenseForm.get('expenseTypeId')?.invalid &&
        expenseForm.get('expenseTypeId')?.touched
      "
      class="error"
    >
      Tipo é obrigatório
    </div>
  </div>

  <div class="form-button">
    <div>
      <p-button
        label="Salvar despesa"
        class="submit-button"
        type="submit"
        [disabled]="expenseForm.invalid"
      ></p-button>
    </div>
    <div *ngIf="expenseForm.get('id')?.value">
      <p-button
        label="Deletar despesa"
        class="delete-button"
        (click)="deleteData(expenseForm.get('id')?.value)"
      />
    </div>
  </div>
</form>